body {
    margin: 0;
    padding: 0;
}

.football-field-outer {
    box-sizing: border-box;
    background: black;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.football-field-inner {
    box-sizing: border-box;
    border: 5px solid white;
    border-right-style: dashed;
    width: 100%;
    height: 100%;
    background: black;
    position: relative;
}

.football-ball {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
}

.football-player {
    height: 100px;
    width: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: green;
    top: 0;
    position: absolute;
    right: 50px;
}